[Unit]
Description=Run provision script on first boot only
Requires=network.target
After=resize_emmc.service

[Service]
Type=oneshot
ExecStart=/bin/sh /provision.sh
StandardOutput=append:/root/provision.log
StandardError=append:/root/provision.log
RemainAfterExit=true

[Install]
WantedBy=multi-user.target