[Unit]
Description=Run provision script on first boot only
After=network-online.target resize_emmc.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/sh /provision.sh
StandardOutput=append:/root/provision.log
StandardError=append:/root/provision.log
RemainAfterExit=true

[Install]
WantedBy=multi-user.target