[Unit]
Description=Run memory resizing script on first boot only
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/sh /resize_emmc.sh
StandardOutput=append:/root/resize_emmc.log
StandardError=append:/root/resize_emmc.log
RemainAfterExit=true

[Install]
WantedBy=multi-user.target